:root {
  --black: #161616;
  --dark-gray: #2b2d42;
  --muted-blue: #a1a9b6;
  --light-gray: #edf2f4; /* Very light gray, almost white */
  --medium-gray: #e2e6e8;
  --bright-red: #ef233c;
  --deep-red: #d90429;
  --light-pink: #c40f61;
  --deep-pink: #a90c53;
  --orange: #e27526;
}
