:root {
  --dark-gray: #2b2d42;
  --muted-blue: #8d99ae;
  --light-gray: #edf2f4; /* Very light gray, almost white */
  --bright-red: #ef233c;
  --deep-red: #d90429;
  --light-pink: #c40f61;
  --deep-pink: #a90c53;
  --orange: #e27526;
}
